@media(max-width: 1000px) {

    header {
        position: fixed;
    }
    .logo-site h1 {
        font-size: 18px;
    }
    .logo-site span {
        position: relative;
        bottom: 8px;
        left: 2px;
    }
    .logo-img {
        height: 35px;
    }
    .nav-list a {
        font-size: 18px;
    }
    .navbar {
        padding: 20px;
    }
    .navbar02 {
        display: none;
    }

    .contato {
        display: none;
    }

    .fundo_casa {
        height: 100vh;
        background: none;
        background-color: #381f1f;
        border: 1px solid  #24252a;
    }

    .contato-deitado  {
        text-shadow: 1px 2px 2px #060101;
        backdrop-filter: none;
        box-shadow: 0px;
        color: #fff;
        font-size: 18px;
        height: 0px;
        width: 490px;
        border-radius: 1px;
        display: block;
        text-align: justify;
        margin-top: 100px;
    }

    .contato-deitado h1 {
        font-size: 25px;
    }

    .contato-deitado p {
        width: 300px;
        margin: 10px;
    }

    .container-info {
        display: none;
    }

    .container-info-deitado {
        display: block;
        margin-top: 100px;
        margin-right: 30px;
        color: #fff;
        text-shadow: 1px 2px 2px #060101;
        backdrop-filter: none;
    }

    .container-info-deitado span {
        font-size: 12px;
    }

    #icon-d {
        font-size: 12px;
    }

  
    
    
    .container-info-deitado h2 {
        text-align: center;
        margin: 1px;
    }
    
    .container-info-deitado ul li {
        display: flex;
        justify-content: center;
        margin: 5px;
        font-size: 15px;
    }

    .container-formulario {
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        height: 350px;
    }
   
    .map {
        margin-left: 10px;
        height: 300px;
        border: none;
    }
    .map h2 {
        font-size: 18px;
    }
    .map iframe {
        height: 310px;
        width: 420px;
    }
    .whats {
        position: fixed;
        bottom: 30px;
        right: 5px;
        height: 35px;
    }
    .whats img {
        position: relative;
        bottom: 8px;
        padding: 10px;
    }
    .whats-contato {
        color: #fff;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 1px 1px #24252a;
    }
    .whats span {
        font-size: 15px;
        position: relative;
        bottom: 30px;
        right: 15px;
    }
}


/* RESPONSIVE DESIGN */
@media(max-width: 730px) 

{
    /* Container Principais */
    header {
      position: fixed;       
    }

    .fundo_casa {
        background: url('img/mobile-pag.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        border: 1px solid #381f1f;
        height: 740px;
        display: flex;
        flex-direction: column;
    }

    .contato {
       display: none;
    }

    footer .container-mobile {
        height: 310px;
        width: 100vw;
    }
     /* fim Container Principais */
    
    .navbar {
        padding: 25px;
    }

    .logo-site h1 {
        font-size: 18px;
    }

    .logo-site span {
        position: relative;
        bottom: 7px;
        left: 2px;
    }

    .logo-site-mobile span {
        position: relative;
        bottom: 7px;
        left: 2px;
    }

    .nav-item {
        display: none;
    }

    .btn_pag {
        display: none;
    }

    /*Opções Mobile */
    .mobile-menu-icon2 {
        display: block;
    }

    .mobile-menu-icon2 button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu2 ul {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu2 {
        width: 100%;
    }

    .mobile-menu2 li {
        margin: 3px;
    }

    .mobile-menu2 .nav-item {
        display: block;
        /*novo*/
        width: 100px;
        border-radius: 20px;
    }

    li .nav-link  {
        height: 35px;
    }

    .nav-item a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*FIM - Opções Mobile */

    .navbar02 {
        display: none;
    }

    .mobile-menu2 .btn_pag {
        margin: 10px;
        scale: 0.8;
    }

    .btn_pag a {
        font-size: 16px;
        color: #060101;
    }

    .btn_pag:hover {
       scale: 1;
    }

    .open2 {
        display: block;
    }

    .container-email {
        display: none;
        margin-top: 410px;
    }

    .contato-deitado {
        display: none;
    }

    .contato {
        font-size: 20px;
        height: 170px;
        width: 390px;
        display: block;
        text-align: justify;
        margin-top: 100px;
        backdrop-filter: none;
        text-shadow: 1px 2px 2px #060101;
        box-shadow: none;
    }

    .contato h1 {
        font-size: 25px;
    }

    .contato p {
        margin:15px;
    }

    .container-info-deitado {
        display: none;
    }
    
    .container-info {
        display: block;
        margin-top: 200px;
        margin-left: 0px;
        color: #fff;
        text-shadow: 1px 2px 2px #060101;
        backdrop-filter: none; 
    }
    
    .container-info h2 {
        text-align: center;
        margin: 1px;
    }
    
    .container-info ul li {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
    .container-info .localizacao:hover {
        scale: 1.1;
        transition: 0.5s;
        text-shadow: 1px 3px 2px #060101;
    }

    .container-formulario {
        padding: 1px;
        margin-left: 0px;
        margin-top: 0px;
        font-family: 'Jost', sans-serif;
        color: #a94141;
        height: 700px;
        width: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario h3 {
        margin-left: 100px;
    }

    .form-mobile {
        margin-left: 0px;
        margin: 15px;
    }

    .form-mobile .formulario {
        margin-left: 45px;
    }

    .formulario button {
        margin-left: 130px;
    }

    .map {
        border: none;
        margin-left: 0px;
    }
    
    .map iframe {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        width: 400px;
    }
    
    .map h2 {
        font-size: 18px;
        margin-left: 10px;
        width: 390px;
        background-color: #a94141;
        text-shadow: 2px 2px 1px #060101;
        text-align: center;
        color: #fff;
    }

    .mobile-menu2 .nav-item {
       width: 100px; 
       height: 35px;
       background-color: #24252a;
    }
    
    .mobile-menu2 .nav-item:hover {
        background-color: #907a42;
        transition: 1.5s;
        scale: 1.1;
    }

    .nav-item:hover::after {
        transform: none;
    }

    .nav-item::after {
        background-color: transparent;
        transform: none;
    }

    .container-desktop {
        display: none;
    }

    footer .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: normal;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 2px 2px black;
        color: #fff;
        background-color: rgb(194, 63, 43);
        width: 100vw;
        text-decoration: none;
        border: 1px solid #381f1f;
        height: 200px;
    }

    .container-mobile .fale-conosco-mobile {
        margin-top: 25px;
        margin-left: 1px;
    }

    .fale-conosco-mobile h2,
    .redes-sociais-mobile h2 {
        font-size: 18px;
        text-align: left;
    }

    .fale-conosco-mobile ul {
        margin: 2px;
    }

    .fale-conosco-mobile ul li {
        display: flex;
        justify-content: left;
        margin: 6px;
    }

    .fale-conosco-mobile a {
        font-size: 16px;
    }

    .fale-conosco-mobile li span {
        font-size: 11px;
    }

    .fale-conosco-mobile .link-face a {
        font-size: 11px;
    }

    .fale-conosco-mobile .localizacao:hover, 
    .fale-conosco-mobile .link-face:hover{
        scale: 1.05;
        transition: 1s;
    }

    

    .logo-site-mobile {
        display: flex;
        width: 100vw;
    }

    .logo-site-mobile h1{
        font-family: 'Jost', sans-serif;
        color: #fff;
        background-color: rgb(133, 53, 53);
        font-size: 18px;
        text-align: center;
        width: 100vw;
    }

    .whats {
        position: fixed;
        bottom: 30px;
        right: 5px;
        height: 35px;
    }

    .whats img {
        position: relative;
        bottom: 8px;
        padding: 10px;
    }

    .whats-contato {
        color: #fff;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 1px 1px #24252a;
    }

    .whats span {
        font-size: 15px;
        position: relative;
        bottom: 30px;
        right: 15px;
    }
}

