/* RESPONSIVE DESIGN */
@media(max-width: 730px) 

{
    /* Container Principais */
    header {
      position: fixed;       
    }

    .fundo_casa {
        background: url('img/casa-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        border: 1px solid #381f1f;
        height: 740px;
        display: flex;
        flex-direction: column;
    }

    .quem_somos {
       display: none;
    }
    
    .quem-somos-mobile  {
        margin-top: 460px;
        margin-left: 5px;
        color: #fff;
        display: flex;
        font-family: 'Jost', sans-serif;
        list-style: none;
        font-size: 20px;
        text-shadow: 1px 2px 2px #060101;
    }
    
    .titulo {
        width: 100vw;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: none;
    }

    footer .container-mobile {
        height: 310px;
        width: 100vw;
    }
     /* fim Container Principais */
    
    .navbar {
        padding: 25px;
    }

    .logo-site h1 {
        font-size: 18px;
    }

    .logo-site span {
        position: relative;
        bottom: 7px;
        left: 2px;
    }

    .logo-site-mobile span {
        position: relative;
        bottom: 7px;
        left: 2px;
    }

    .nav-item {
        display: none;
    }

    .btn_pag {
        display: none;
    }

    /*Opções Mobile */
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu {
        width: 100%;
    }

    .mobile-menu li {
        margin: 3px;
    }

    .mobile-menu .nav-item {
        display: block;
        /*novo*/
        background-color: #060101;
        width: 100px;
        border-radius: 20px;
    }

    li .nav-link  {
        height: 35px;
    }

    .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /*FIM - Opções Mobile */

    .navbar02 {
        display: none;
    }

    .mobile-menu .btn_pag {
        margin: 10px;
        scale: 0.8;
    }

    .btn_pag a {
        font-size: 16px;
        color: #060101;
    }

    .btn_pag:hover {
       scale: 1;
    }

    .open {
        display: block;
    }

    .titulo {
        font-size: 25px;
        height: 30px;
    }

    .slider {
        width: 400px;
        height: 300px;
        overflow: hidden;
    }

    .slides {
        width: 400%;
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 30%;
        transition: 2s;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -30%;
    }

    #radio3:checked ~ .first {
        margin-left: -60%;
    }

    #radio4:checked ~ .first {
        margin-left: -85%;
    }

    #radio5:checked ~ .first {
        margin-left: -115%;
    }

    #radio6:checked ~ .first {
        margin-left: -150%;
    }

    #radio7:checked ~ .first {
        margin-left: -180%;
    }

    #radio8:checked ~ .first {
        margin-left: -210%;
    }

    .slide img {
        height: 300px;
        width: 450px;
    }

    .manual-navigation {
    
        position: absolute;
        width: 400px;
        margin-top: -140px
    }

    .navigation-auto {
        
        position: absolute;
        width: 400px;
        margin-top: 260px; 
    }
 
    .mobile-menu .nav-item {
       width: 100px; 
       height: 35px;
       background-color: #24252a;
    }
    
    .mobile-menu .nav-item:hover {
        background-color: #907a42;
        transition: 1.5s;
        scale: 1.1;
    }

    .nav-item:hover::after {
        transform: none;
    }

    .nav-item::after {
        background-color: transparent;
        transform: none;
    }

    .container-desktop {
        display: none;
    }

    footer .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: normal;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 2px 2px black;
        color: #fff;
        background-color: rgb(194, 63, 43);
        width: 100vw;
        text-decoration: none;
        border: 1px solid #381f1f;
        height: 200px;
    }

    .container-mobile .fale-conosco-mobile {
        margin-top: 25px;
        margin-left: 1px;
    }

    .fale-conosco-mobile h2,
    .redes-sociais-mobile h2 {
        font-size: 18px;
        text-align: left;
    }

    .fale-conosco-mobile ul {
        margin: 2px;
    }

    .fale-conosco-mobile ul li {
        display: flex;
        justify-content: left;
        margin: 6px;
    }

    .fale-conosco-mobile a {
        font-size: 16px;
    }

    .fale-conosco-mobile li span {
        font-size: 11px;
    }

    .fale-conosco-mobile .link:hover, 
    .fale-conosco-mobile .link-face:hover {
        scale: 1.05;
        transition: 1s;
    }

    .fale-conosco-mobile .link-face a {
        font-size: 11px;
    }

    .redes-sociais-mobile li a {
        font-size: 11px;
    }

    .redes-sociais-mobile li:hover {
        scale: 1.1;
        transition: 1s;
    }

    .logo-site-mobile {
        display: flex;
        width: 100vw;
    }

    .logo-site-mobile h1{
        font-family: 'Jost', sans-serif;
        color: #fff;
        background-color: rgb(133, 53, 53);
        font-size: 18px;
        text-align: center;
        width: 100vw;
    }

    .whats {
        position: fixed;
        bottom: 30px;
        right: 5px;
        height: 35px;
    }

    .whats img {
        position: relative;
        bottom: 8px;
        padding: 10px;
    }

    .whats-contato {
        color: #fff;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 1px 1px #24252a;
    }

    .whats span {
        font-size: 15px;
        position: relative;
        bottom: 30px;
        right: 15px;
    }
}