* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/*navbar*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/*quem somos */
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header {
    font-family: 'Jost', sans-serif;
    background-color: #24252a;
    box-shadow: 1px 1px 5px  #464646;
    width: 100vw;
}

.logo-site {
    text-shadow: 1px 2px 1px #060101;
    font-size: 0.8rem;
    text-align: center;
}

.logo-img {
    height: 35px;
}

.navbar h1 span {
    color: #fff;
}

.navbar h1 span {
    margin: 1px;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    border: 1px solid #060101;

}

.navbar .btn_pag {
    color: #060101;
}

.logo {
    font-size: 1em;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.nav-item {
    width: max-content;
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: rgb(255, 248, 248);
    transition: 0.5s ease-in-out;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.navbar02 {
    background-color: rgb(194, 63, 43);
    color: wheat;
    font-size: 1.2em; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100vw;
    border: 1px solid black;
}

.navbar02 .links {
    display: flex;
    gap: 2rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    font-family: 'Jost', sans-serif;
}

.btn_pag {
    background-color: orange;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    height: 30px;
    width: 200px;
    padding: 5px;
    text-align: center;
}

.btn_pag:hover {
    scale: 1.1;
    transition: 1s;
}

.mobile-menu {
    position: absolute;
    width: 300px;
    background-color: #24252a;
    overflow: hidden;
    transition: 1s;
}

.mobile-menu ul {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mobile-menu .btn_pag {
    width: 200px;
    display: flex;
    justify-content: center;
}

.fundo_casa {
    background: url('img/casa_fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh; 
    border: 1px solid #381f1f;
}

.fundo_casa .quem_somos {
    font-family: 'Lumanosimo', cursive;
    text-shadow: 1px 2px 1px #060101;
    backdrop-filter: blur(4px);
    box-shadow: 1px 1px 1px  black;
    color: #fff;
    font-size: 1.9rem;
    margin-left: 40px;
    height: 160px;
    width: 650px;
    border-radius: 1px;
    text-align: center;
}

.titulo {
    background-color: #24252a;
    font-family: 'Jost', sans-serif;
    text-shadow: 1px 4px 1px #0e0a0a;
    color: #fff;
    height: 80px;
    width: 100vw;
    font-size: 60px;
    text-align: center;
    border: 1px solid  #24252a;
}


/* SLIDES */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 1px solid  #24252a;
    
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 1px solid  #24252a;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}
#radio6:checked ~ .first {
    margin-left: -125%;
}
#radio7:checked ~ .first {
    margin-left: -150%;
}
#radio8:checked ~ .first {
    margin-left: -175%;
}

.navigation-auto div {
    border: 2px solid skyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: #fff;
}
#radio7:checked ~ .navigation-auto .auto-btn7 {
    background-color: #fff;
}
#radio8:checked ~ .navigation-auto .auto-btn8 {
    background-color: #fff;
}

/* FIM - SLIDES */



.container-desktop {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgb(194, 63, 43);
    height: 350px;
    width: 100vw;
    text-decoration: none;
    border: 1px solid #381f1f;
}

footer .fale_conosco {
    padding: 10px;
}


.fale_conosco, 
.redes_sociais  {
    text-shadow: 1px 2px 1px #060101;
    margin: 3px;
}

.fale_conosco li {
    margin: 15px;
    padding: 5px;
}

.fale_conosco .localizacao:hover {
    scale: 1.1;
    transition: 0.5s;
    text-shadow: 1px 3px 2px #060101;
}

.redes_sociais li {
    padding: 10px;
    margin-right: 450px;
    margin-top: 10px;
}

.logo a,
.logo span {
    margin: 5px;
    font-size: 16px;
}

.redes_sociais li:hover{
    scale: 1.1;
    transition: 0.5s;
}

.container-mobile {
    display: none;
}

.whats {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
}

.whats-contato {
    background-color: rgb(0, 231, 119);
    border-radius: 5px;
}
.whats:hover{ 
    scale: 1.1;
    transition: 1s
}

.container-email {
    margin: 55px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    text-shadow: 1px 4px 1px black;
    color: #fff;
    background-color: #472d0e;
    box-shadow: 1px 1px 4px 2px black;
    width: 260px;
    border-radius: 10px;
}


.contato-form input {
    display: flex;
    width: 245px;
    margin: 5px;
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 5px;
  
}

.contato-form input[type=email] {
    height: 30px;
    box-shadow: 1px 1px 2px 2px black;
}

.contato-form input[type=text] {
    height: 90px;
    box-shadow: 1px 1px 2px 2px black;
}

.contato-form button {
 margin-left: 80px;
    
}

.contato-form button {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 3px 1px black;
}

button:hover {
    scale: 1.1;
    transition: 1s;
    color: #fff;
    background-color: rgb(48, 130, 171);
}


/* RESPONSIVE DESIGN */
@media(max-width: 730px) 

{
    /* Container Principais */
    header {
      position: fixed;       
    }

    .fundo_casa .quem_somos {
        font-family: 'Lumanosimo', cursive;
        text-shadow: 1px 3px 2px #060101;
        backdrop-filter:none;
        box-shadow: 1px 1px 1px 1px  black;
        color: #fff;
        font-size: 16px;
        margin-top: 150px;
    
        height: 80px;
        width: 340px;
        border-radius: 1px;
        text-align: center;
    }
    
    .titulo {
        width: 100vw;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: none;
    }

    footer .container-mobile {
        height: 310px;
        width: 100vw;
    }
     /* fim Container Principais */
    
    .navbar {
        padding: 25px;
    }

    .logo-site h1 {
        font-size: 18px;
    }

    .nav-item {
        display: none;
    }

    .btn_pag {
        display: none;
        
    }

    /*Opções Mobile */
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu {
        width: 100%;
    }

    .mobile-menu li {
        margin: 3px;
    }

    .mobile-menu .nav-item {
        display: block;
        /*novo*/
        background-color: #060101;
        width: 100px;
    
        border-radius: 20px;
    }

    li .nav-link  {
        height: 35px;
    }

    .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /*FIM - Opções Mobile */

    .navbar02 {
        display: none;
    }

    .mobile-menu .btn_pag {
        margin: 10px;
        scale: 0.8;
    }

    .btn_pag a {
        font-size: 16px;
        color: #060101;
    }

    .btn_pag:hover {
       scale: 1;
    }

    .open {
        display: block;
    }

    

    .titulo {
        font-size: 40px;
        height: 55px;
    }

    .slider {
        width: 400px;
        height: 300px;
        overflow: hidden;
    }

    .slides {
        width: 400%;
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 30%;
        transition: 2s;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -30%;
    }

    #radio3:checked ~ .first {
        margin-left: -60%;
    }

    #radio4:checked ~ .first {
        margin-left: -85%;
    }

    #radio5:checked ~ .first {
        margin-left: -115%;
    }

    #radio6:checked ~ .first {
        margin-left: -150%;
    }

    #radio7:checked ~ .first {
        margin-left: -180%;
    }

    #radio8:checked ~ .first {
        margin-left: -210%;
    }

    .slide img {
        height: 300px;
        width: 450px;
    }

    .manual-navigation {
        display: none;
       /* position: absolute;
        width: 400px;
        margin-top: -140px; */
    }

    .navigation-auto {
        display: none;
       /* position: absolute;
        width: 400px;
        margin-top: 260px; */
    }
 
    .mobile-menu .nav-item {
       width: 100px; 
       height: 35px;
       background-color: #24252a;
    }
    
    .mobile-menu .nav-item:hover {
        background-color: #907a42;
        transition: 1.5s;
        scale: 1.1;
    }

    .nav-item:hover::after {
        transform: none;
    }

    .nav-item::after {
        background-color: transparent;
        transform: none;
    }


    /*footer {
        height: 336px;
    }

   
    .fale_conosco {
        display: none;
        padding: 2px;
        text-align: center;
    }

    .fale_conosco a{
        font-size: 15px;
    }

    .fale_conosco li {
        font-size: 15px;
        margin: 4px;
    }

    .mobile_fc {
        display: flex;
        justify-content: center;
        
    }

    .mobile_fc li span {
        font-size: 12px;
      
    }

    .mobile_fc .logo span {
        margin: 2px;
        
    }

    hr {
        display: none;
    }

    
   .fale_conosco h1 {
        display: none;
        position: absolute;
        
        top: 1170px;
        background-color: rgb(150, 54, 54);
        text-align: center;
        width: 100vw;
        border: 1px solid #24252a;
        margin: -6px;
     
    }*/

  
    .container-desktop {
        display: none;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Jost', sans-serif;
        text-shadow: 1px 2px 2px black;
        color: #fff;
        background-color: rgb(194, 63, 43);
        width: 100vw;
        text-decoration: none;
        border: 1px solid #381f1f;
    }

    .container-mobile .fale-conosco-mobile {
        margin-top: 25px;
    }

    .fale-conosco-mobile h2,
    .redes-sociais-mobile h2 {
        font-size: 18px;
        text-align: center;
      
    }

    .fale-conosco-mobile .redes-sociais-mobile {
        margin: 10px;
    }

    .fale-conosco-mobile ul li {
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    .fale-conosco-mobile a {
        font-size: 16px;
    }

    .fale-conosco-mobile li span {
        font-size: 11px;
    }

    .fale-conosco-mobile .localizacao:hover{
        scale: 1.1;
        transition: 1s;
    }

    .redes-sociais-mobile li a {
        font-size: 11px;
    }

    .redes-sociais-mobile li:hover {
        scale: 1.1;
        transition: 1s;
    }


    .logo-site-mobile h1{
        background-color: rgb(133, 53, 53);
        font-size: 18px;
        text-align: center;
        width: 100vw;
    }


    .whats {
        position: fixed;
        bottom: 50px;
        right: 2px;
        z-index: 9999;
    }

    .whats-contato {
     display: none;
    }

    /*.redes_sociais {
        display: none;
        position: absolute;
        top: 1030px;
        left: 150px;
        margin-right: 0;
    }

    .redes_sociais li {
        padding: 1px;
        margin: 15px;
        margin-right: 0;
    }
    
    .mobile_rs {
        display: none;
        position: absolute;
        left: -60px;
    }

    .logo a {
        font-size: 15px;
    } */
}